<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                            <div class="card__image">
                                <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmccrindle.com.au%2Fwp-content%2Fuploads%2F2018%2F03%2FBooks-Hero.jpg&imgrefurl=https%3A%2F%2Fmccrindle.com.au%2Finsights%2Fpublications%2Fbooks%2F&docid=M3_eulBNtHcI_M&tbnid=mIIY-lE4O6nr6M%3A&vet=10ahUKEwii9N2N-ZnkAhUMKVAKHeIHAUsQMwhAKAwwDA..i&w=1570&h=1344&bih=680&biw=697&q=book&ved=0ahUKEwii9N2N-ZnkAhUMKVAKHeIHAUsQMwhAKAwwDA&iact=mrc&uact=8" alt="not loaded">
                            </div>
                            <!-- <%= product.imageUrl %> -->
                            <div class="card__content">
                                <h2 class="product__price">$<%= product.price %></h2>
                                <p class="product__description"><%= product.description %></p>
                            </div>
                            <div class="card_actions">
                                <button class="btn">Add to Cart</button>
                            </div>
                        </header>
                    </article>
                <% } %>    
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>